[Unit]
Description=Email Management service
Wants=network-online.target
After=network.target
After=network-online.target

[Service]
# Background process configuration (use with --daemon in ExecStart)
Type=forking

# Preferably configure a non-privileged user
User=email_mgmt

# The path to the puma application root
WorkingDirectory=/home/email_mgmt/app/current

# The command to start Puma
ExecStart=/home/email_mgmt/bin/email_mgmt.sh start

# The command to stop Puma
ExecStop=/home/email_mgmt/bin/email_mgmt.sh stop

# Path to PID file so that systemd knows which is the master process
PIDFile=/home/email_mgmt/app/shared/tmp/pids/puma.pid

# Should systemd restart puma?
# Use "no" (the default) to ensure no interference when using
# stop/start/restart via `pumactl`.  The "on-failure" setting might
# work better for this purpose, but you must test it.
# Use "always" if only `systemctl` is used for start/stop/restart, and
# reconsider if you actually need the forking config.
Restart=no

[Install]
WantedBy=multi-user.target
